<%- include("partials/header"); -%>

<h1>Home</h1>

<p> <%= homeStarting %> </p>

<% if (posts.length !== 0) { %>
  <% posts.forEach(post => { %>
    <% let url = `/posts/${post.url}`; %>

    <h1><%= post.title %></h1>

    <% if (post.content.length <=100) { %>

      <p><%= post.content + " " %><a href=<%= url %>>View as a Page</a></p>

    <% } else { %>

      <p><%= post.content.substring(0,100) + "..." %><a href=<%= url %>>Read More</a></p>

    <% } %>
  <% })  %>
<% } %>

<%- include("partials/footer"); -%>
