<%- include("partials/header"); -%>

<h1>Home</h1>

<p> <%= homeStarting %> </p>

<% if (posts.length !== 0) { %>
  <% posts.forEach(post => { %>
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
  <% })  %>
<% } %>

<%- include("partials/footer"); -%>
